
@{
    ViewBag.Title = "AboutVillage";
}
<br />
<br />
<!--<div class="container" style="margin-bottom:10px;">
    <div class="row">
        <div class="col-md-12 ">
          
            <center>
                <h1>About Village</h1>-->
                @*<img src="~/Content/Emage/si"   />*@
                <!--<img  src="https://akm-img-a-in.tosshub.com/aajtak/images/story/202112/siddharthnagar-sixteen_nine.jpg?" >
            </center>
            <h3>Introduction </h3>
            <p>
                Mera gaon Belgarha hai, jo Uttar Pradesh  ke SiddharthNagar zile mein sthit hai. Yeh ek chhota sa aur sundar gaon hai, jahan par prakriti ki saundaryata aur samrudhi ek sath milti hai. Gaon ki sthapana [Stapana Ki Tarikh] ko hui thi, aur iska itihas rich aur mahatvapurn hai.

                Sthiti (Location): Hamara gaon [Najdikst Railway Station/Airport Ka Naam] ke nazdik sthit hai aur [Najdikst Bade Shahar Ka Naam] se [Duri Ki Matra] ki duri par hai. Iski prakriti sundar hai, aur yahan par har season mein alag-alag rang aur mahaul hote hain.

                Sanskriti Aur Parampara (Culture and Traditions): Hamara gaon apni lokpriya sanskriti aur paramparao ke liye prasiddh hai. Yahan par har tyohar aur utsav ko bade dhoom dham se manaya jata hai, jisme [Kuch Lokpriya Tyohar Ka Naam] shamil hain. Log yahan ke parv aur utsavon mein bhari utasah aur utsah se bhag lete hain.
            </p>
            <br />
            <h3>
                Colture And Traditions
            </h3>
            <p>
                Gao (village) mein, lokpriya sanskriti aur paramparaayein hoti hain. Yeh aksar ek samajik aur sanskritik ekta ka prateek hote hain. Gao ke log apni vishesh bhasha, vastra, kala, aur khaane ki paramparaon mein garv karte hain.

                Village mein aksar saal mein kai tyohaar aur utsav aayojit hote hain. Inmein se kuchh pramukh tyohaar hote hain jaise ki Diwali, Holi, aur Durga Puja. In avasaron par gaon ke log ek saath aakarshit hote hain aur alag-alag rangin aur dhoom-dhaam se manate hain.

                Gao mein kisan aur kheti ka mahatva bhi hota hai. Kheti ke liye alag-alag faslon ki boi jaati hai aur usse sambandhit paramparaayein bhi hoti hain. Gao ke log apne krishi ke upkaran aur vidhiyon ko apnate hain.

                Gao ke log aksar apne paramparik vastra pehnkar gharon aur parivar ke sath vyaktigat jeevan ka anand lete hain. Unki sanskritik virasat aur paramparaayein unke jeevan ka ahem hissa hoti hain.
            </p>
            <br />
            <h3></h3>


        </div>
    </div>
</div>-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <center> <h1>About Village</h1></center>
            <div class="card">
                @*<a></a> <img src="..." class="card-img-top" alt="...">*@
                <img src="https://akm-img-a-in.tosshub.com/aajtak/images/story/202112/siddharthnagar-sixteen_nine.jpg?" class="card-img-top">
              
                <h3>Introduction </h3>
                <p>
                    Mera gaon Belgarha hai, jo Uttar Pradesh  ke SiddharthNagar zile mein sthit hai. Yeh ek chhota sa aur sundar gaon hai, jahan par prakriti ki saundaryata aur samrudhi ek sath milti hai. Gaon ki sthapana [Stapana Ki Tarikh] ko hui thi, aur iska itihas rich aur mahatvapurn hai.

                    Sthiti (Location): Hamara gaon [Najdikst Railway Station/Airport Ka Naam] ke nazdik sthit hai aur [Najdikst Bade Shahar Ka Naam] se [Duri Ki Matra] ki duri par hai. Iski prakriti sundar hai, aur yahan par har season mein alag-alag rang aur mahaul hote hain.

                    Sanskriti Aur Parampara (Culture and Traditions): Hamara gaon apni lokpriya sanskriti aur paramparao ke liye prasiddh hai. Yahan par har tyohar aur utsav ko bade dhoom dham se manaya jata hai, jisme [Kuch Lokpriya Tyohar Ka Naam] shamil hain. Log yahan ke parv aur utsavon mein bhari utasah aur utsah se bhag lete hain.
                </p>
                <br />
                <h3>
                    Colture And Traditions
                </h3>
                <p>
                    Gao (village) mein, lokpriya sanskriti aur paramparaayein hoti hain. Yeh aksar ek samajik aur sanskritik ekta ka prateek hote hain. Gao ke log apni vishesh bhasha, vastra, kala, aur khaane ki paramparaon mein garv karte hain.

                    Village mein aksar saal mein kai tyohaar aur utsav aayojit hote hain. Inmein se kuchh pramukh tyohaar hote hain jaise ki Diwali, Holi, aur Durga Puja. In avasaron par gaon ke log ek saath aakarshit hote hain aur alag-alag rangin aur dhoom-dhaam se manate hain.

                    Gao mein kisan aur kheti ka mahatva bhi hota hai. Kheti ke liye alag-alag faslon ki boi jaati hai aur usse sambandhit paramparaayein bhi hoti hain. Gao ke log apne krishi ke upkaran aur vidhiyon ko apnate hain.

                    Gao ke log aksar apne paramparik vastra pehnkar gharon aur parivar ke sath vyaktigat jeevan ka anand lete hain. Unki sanskritik virasat aur paramparaayein unke jeevan ka ahem hissa hoti hain.
                </p>
                <br />
            </div>
         </div>
        </div>

    </div>
<br />
<br />