
@{
    ViewBag.Title = "Registration";
}
<script>
    function getCaptcha() {
        var strArr = " 0123456789adfgktrdsc";
        var code = "";
        for (var i = 0; i < 5; i++) {
            code = code + strArr[Math.floor(Math.random() * 20)];
        }
        return code;
    }

    function demo() {
        var c = getCaptcha();
        document.getElementById("ct1").innerHTML = c;
        document.getElementById("hdn1").value = c;
    }

</script>
<br />
<br />
<br />

<section class="h-100 bg-orange">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                 alt="Sample photo"
                                 class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">Student registration form</h3>
                                <form action="/Home/Registration" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1m" class="form-control form-control-lg" name="First_name" />
                                                <label class="form-label" for="form3Example1m">First name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1n" class="form-control form-control-lg" name="Last_name" />
                                                <label class="form-label" for="form3Example1n">Last name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1m1" class="form-control form-control-lg" name="Mothers_name" />
                                                <label class="form-label" for="form3Example1m1">Mother's name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" id="form3Example1n1" class="form-control form-control-lg" name="Father_name" />
                                                <label class="form-label" for="form3Example1n1">Father's name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example8" class="form-control form-control-lg" name="Address" />
                                        <label class="form-label" for="form3Example8">Address</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" id="form3Example8" class="form-control form-control-lg" name="Permanent_Address" />
                                        <label class="form-label" for="form3Example8">Permanent Address</label>
                                    </div>

                                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                        <h6 class="mb-0 me-4">Gender: </h6>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input  class="form-check-input"
                                                   type="radio"
                                                   name="Gender"
                                                   id="femaleGender"
                                                   value="Female" />
                                            <label class="form-check-label" for="femaleGender">Female</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input"
                                                   type="radio"
                                                   name="Gender"
                                                   id="maleGender"
                                                   value="Male" />
                                            <label class="form-check-label" for="maleGender">Male</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <input class="form-check-input"
                                                   type="radio"
                                                   name="Gender"
                                                   id="otherGender"
                                                   value="Other" />
                                            <label class="form-check-label" for="otherGender">Other</label>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">

                                            <select class="select" name="State">
                                                <option value="">State</option>
                                                <option value="1">Delhi</option>

                                                <option value="2">Andhra Pradesh</option>
                                                <option value="3">Arunachal Pradesh</option>
                                                <option value="4">Assam</option>
                                                <option value="5">Bihar</option>
                                                <option value="6">Chhattisgarh</option>
                                                <option value="7">Goa</option>
                                                <option value="8">Gujarat</option>
                                                <option value="9">Haryana</option>
                                                <option value="10">Himachal Pradesh</option>
                                                <option value="11">Jharkhand</option>
                                                <option value="12">Karnataka</option>
                                                <option value="13">Kerala</option>>
                                                <option value="14">Madhya Pradesh</option>>
                                                <option value="15">Maharashtra</option>>
                                                <option value="16">Manipur</option>>
                                                <option value="17">Meghalaya</option>
                                                <option value="18">Meghalaya</option>
                                                <option value="19">Meghalaya</option>
                                                <option value="20">Mizoram</option>
                                                <option value="21">Nagaland</option>
                                                <option value="22">Odisha</option>
                                                <option value="23">Punjab</option>
                                                <option value="24">Rajasthan</option>
                                                <option value="25">Sikkim</option>
                                                <option value="26">Tamil Nadu</option>
                                                <option value="27">Telangana</option>
                                                <option value="28">Tripura</option>
                                                <option value="29">Uttar Pradesh</option>
                                                <option value="30">Uttarakhand</option>
                                                <option value="3">West Bengal</option>



                                            </select>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <select class="select" name="City">
                                                <option value="" City>City</option>
                                                <option value="1">Mumbai</option>
                                                <option value="2">Delhi</option>
                                                <option value="3">Bangalore</option>
                                                <option value="4">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="6">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                                <option value="5">Hyderabad</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="date" @*id="form3Example9"*@ value="Date" class="form-control form-control-lg" name="DOB" />
                                        <label class="form-label" for="form3Example9">DOB</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="number" @*id="form3Example90"*@ class="form-control form-control-lg" name="Contactno" />
                                        <label class="form-label" for="form3Example90">Contact no</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="email" @*id="form3Example97"*@ class="form-control form-control-lg" name="EmailID" />
                                        <label class="form-label" for="form3Example97">Email id </label>
                                    </div>
                                    <!--file uplode-->
                                    <div class="form-outline mb-4">
                                        <input type="file" @*id="form3Example9"*@ value="file" class="form-control form-control-lg" name="Profile" />
                                        <label class="form-label" for="form3Example9">Uplode photo</label>
                                    </div>
                                    <!--End file-->
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="password" @*id="form3Example99"*@ class="form-control form-control-lg" name="Password" />
                                                <label class="form-label" for="form3Example99"> password</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="password"> @*id="form3Example97"*@ <class ="form-control form-control-lg" name="ConfirmPassword" />
                                                <label class="form-label" for="form3Example97"> confirm password </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="d-flex justify-content-end pt-3">
                                        <h3 style="margin:10px"> Captcha Code</h3>&nbsp;&nbsp;&nbsp; <span style=" color:red; font-size:30px"><strike id="ct1">drf4h</strike></span>
                                        &nbsp; <span class="fa fa-refresh" style="color:red; font-size:30px;cursor:pointer" onclick="demo()"></span>
                                        <input type="text" name="ct1" class="form-control" placeholder="Enter Captcha code" style="width:150px" />
                                        <input type="hidden" id="hdn1" name="hdn1" />
                                        <br />

                                    </div>
                                    <div class="d-flex justify-content-end pt-3">
                                        
                                        <button type="reset" class="btn btn-warning btn-lg">Reset all</button>


                                        <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
