<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>@ViewBag.Title</title>

    <link rel="icon" href="~/Content/images/asaa-newlogo-170x124.png" />

    <!-- bootstrap CSS files link -->
    <link rel="stylesheet" href="~/content/css/aos.css">
    <link rel="stylesheet" href="~/content/css/style.css">
    <link rel="stylesheet" href="~/content/css/hover-min.css">
    <link rel="stylesheet" href="~/content/css/icofont.min.css">
    <link rel="stylesheet" href="~/content/css/animate.min.css">
    <link rel="stylesheet" href="~/content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/content/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/content/assets/vendor/icofont/icofont.min.css">
   <link href="~/Content/Site.css" rel="stylesheet" />

    <!-- bootstrap current virsion links  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


    <!-- Remixicon CDN link -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- font awasome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- main css file link -->
    <link rel="stylesheet" href="~/content/main.css">


    <!-- links for footer-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <!-- links for gallery -->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->



</head>
    
      
       

       
<body>
    <!----- Header Top----->
    <div class="header-top-wrapper">
        <div class="container ">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <!--header top right-->
                    <div class="header-top-right text-left">
                        <!--header TOP COTACT-->
                        <a href="#"><img src="~/Content/Emage/swarna-bharat.png" alt="swarna bharat parivaar" title="sbp" class="img-fluid" /></a>

                    </div>
                    <!-- header top right-->

                </div>
                <div class="col-md-4 col-lg-4  social" style="margin-top: 30px; ">
                    <!---header top social-->
                    <ul class="header-top-social ">
                        <li>
                            <a href="#" class="btn btn-warning"><i class="fa fa-certificate" aria-hidden="true"></i> &nbsp; Certification</a>

                        </li>
                        <li><a href="/Home/ContactUs" class="btn btn-warning"> <i class="fa fa-gift" aria-hidden="true"></i> &nbsp; Make a Donation</a></li>

                    </ul>
                </div>

            </div>

        </div>

    </div>
    <!---Navbar-->
    <header id="header">
        <div class="container-fluid ">

            <nav class="nav-menu d-none d-lg-block" style="background:#333">
                <ul style="background:#333">
                    <li class="active"> <a href="/Home/Index" style="text-decoration: none; color:#fff ">Home</a></li>
                    <li> <a href="/Home/AboutVillage" style="text-decoration: none; color: #fff">About Village</a></li>
                    <li> <a href="/Home/PhotoGallery" style="text-decoration: none; color:#fff ">photo Gallery</a></li>
                    <li> <a href="/Home/Registration" style="text-decoration: none; color: #fff">Registration</a></li>
                    <li> <a href="https://pfms.nic.in/Users/LoginDetails/NewLayoutLogin.aspx" style="text-decoration: none; color:#fff ">Schemes</a></li>
                    <!--link section-->
                    <li class="drop-down">
                        <a style="text-decoration: none;color:#fff ">Links</a>
                        <ul style="background:#333">
                            <li><a href="https://upbhulekh.gov.in/" style="text-decoration: none; color:#fff ">Bhulekh</a></li>
                            <li><a href="https://nrega.nic.in/MGNREGA_new/Nrega_home.aspx" style="text-decoration: none; color:#fff "> Manerega</a></li>
                            <li><a href="https://scholarship.up.gov.in/" style="text-decoration: none; color:#fff "> Scholarship</a></li>
                        </ul>
                    </li>
                    <li class="drop-down">
                        <a style="text-decoration: none;color:#fff ">Login</a>
                        <ul style="background:#333">
                            <li><a href="/Home/Login" style="text-decoration: none; color:#fff ">User Login</a></li>
                            <li><a href="/Home/Adminlogin" style="text-decoration: none; color:#fff ">Admin Login</a></li>
                        </ul>

                    </li>

                   
                    <li> <a href="/Home/ContactUs" style="text-decoration: none; color:#fff">Contact Us</a></li>
                    <li> <a href="/Home/Feedback" style="text-decoration: none; color:#fff">Feedback</a></li>

                </ul>
            </nav>

        </div>
    </header>



    @RenderBody()
   
    <div class="clearfix"></div>
    <footer id="footer" >
        <div class="footer-top" style=" background: #1f2627;">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <img src="~/Content/Emage/swarana-bharat-logo2.png" alt="sbp logo" title="sbp" class="img-fluid">
                            <p>
                                E-Village: Belgarh, Khurhuriya,Siddharth Nagar, Uttar Pradesh-272204<br><br>
                                <strong>Phone:</strong><a  href="tel:7318104815"> +91 7318104815</a><br>
                                <strong>Email:</strong><a  href="ak73181048@gmail.com"> ak73181048@gmail.com</a><br>
                            </p>
                            <div class="social-links mt-3">

                                <a href="https://twitter.com/isro?t=225GFdnGqRCgO1ZImAyIOA&s=09" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/ISRO?mibextid=ZbWKwL" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://instagram.com/ajaykannaujiya8121?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="google-plus" target="_blank"><i class="fa fa-skype"></i></a>
                                <a href="#" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="/Home/index">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="/Home/AboutVillage">About us</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="/Home/PhotoGallery">photo Gallery</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="">Donate Now</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="#">Privacy policy</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="/Home/Feedback">Feedback</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="/Home/Registration">Registration</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="#">Upcoming Events</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="https://upbhulekh.gov.in/">Bhulek</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="https://nrega.nic.in/MGNREGA_new/Nrega_home.aspx">Manerega</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="https://scholarship.up.gov.in/">Up scholarship</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; <a href="/Home/ContactUs">Contact Us</a></li>
                            
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Subcribe to Our Newsletter</h4>
                        <p>Singup for our weekly newsletter to get the letest news and updates.</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Ajay kumar	</span></strong>. All Rights Reserved
            </div>

        </div>
    </footer>
    <!-- Footer Area end -->
    <!-- The scroll to top feature -->

    <script src="~/content/js/jquery.min.js"></script>
    <script src="~/content/js/jquery.waypoints.min.js"></script>
    <script src="~/content/js/counterup.min.js"></script>
    <script src="~/content/js/owl.carousel.js"></script>
    <script src="~/content/js/aos.js"></script>
    <script src="~/content/js/main.js"></script>
    <!-- Main JS file link -->
    <script src="~/content/main.js"></script>
</body>
</html>