
@{
    ViewBag.Title = "ContactUs";
}

<script>
    function getCaptcha()
    {
        var strArr = " 0123456789adfgktrdsc";
        var code = "";
        for (var i = 0; i < 5; i++) {
            code = code + strArr[Math.floor(Math.random() * 20)];
        }
        return code;
    }

    function demo() {
        var c = getCaptcha();
        document.getElementById("ct1").innerHTML = c;
        document.getElementById("hdn1").value = c;
    }

</script>

<br />
<br />
<br />
<br />

<div class="container home_contact p-5">
    <div class="row text-center">
        <div class="col-md-6">
            <h2>Contact Form</h2>
            <br />
            <form action="/Home/ContactUS" method="post">
                <input name="Name" type="text" class="form form-control" placeholder="Name" required /><br />
                <input name="Mobile_No"  type="number" class="form form-control" placeholder="Mobile" /><br />
                <input name="E_mail" type="email" class="form form-control" placeholder="E-mail" required /><br />
                <textarea name=" Message" class="form form-control" placeholder="Message" rows="3" required></textarea><br />
                Captcha Code <span style=" color:red; font-size:30px"><strike id="ct1">drf4h</strike></span>
                <span class="fa fa-refresh" style="color:red; font-size:30px;cursor:pointer" onclick="demo()"></span>
                <input type="text"  name="ct1" class="form-control"placeholder="Enter Captcha code" />
                <input type="hidden" id="hdn1" name="hdn1" />
                <br />
                <input  type="submit" class="form form-control bg-success w-25" />
            </form>
        </div>

        <div class="col-md-6">
            <h2>Google Map Location</h2>
            <br />
         
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7088.185420975708!2d82.96728518888037!3d27.341569905576108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3996de69c4e16949%3A0xf3d48c128016227c!2sBel%20Garha%2C%20Uttar%20Pradesh%20272204!5e0!3m2!1sen!2sin!4v1693856001490!5m2!1sen!2sin" width="100%" height="350" style="border:1px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       
        </div>
    </div>
</div>