
@{
    ViewBag.Title = "CurrentSituation";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12" style="border:1px solid gray">
            <h2 class="text-center"><b>The Current State of Rural India </b></h2>
            <p>
                <b>“India needs smart villages, not smart cities” - Marwah </b> <br>India is one nation that has been hit by major changes, be it social, political or economical. The impact of these changes has been distributed unequally across the country. That is why, there is a clear distinction between our cities, small towns and our villages. The Indian villages find themselves struggling to cope with the increasing advancement of the cities and the richness of their past. They are the mirror of our country, reflecting both our past and present. According to the 2011 census, 68.8% of India’s population resides in villages. It is of urgent importance to note that more than half of our population is living in an area of exploitation. By using the word exploitation, a hint can be drawn to the colonialism era where all agricultural sectors were exploited and the artisan craft industry was put to a stop. According to the All India Rural Financial Inclusion Survey (2016-2017) that the average monthly income of rural households in India is `8,059. For agricultural households in rural areas, it is `8,931, whereas, for non-agricultural households, it is just `7,269. So, in a country that has agriculture as one of its primary occupations, it is of significant distress that those employed in the agricultural industries benefit very little from their job. As a result, the rural-urban gap seems to be widening giving rise to major poverty and unemployment. <br><br>
                With so many problems, the villages of India still manage to appeal to the eye. The fresh oxygen, the greenery, the closeness to nature, and the unity amongst the families are elements we do not see anywhere else. With so many plus points, it is saddening to see that these places are deprived of necessities and facilities. Education in rural India is also not very promising. The number of schools is very low and the existing ones battle poor infrastructure and less committed teachers. <br> <br>
                Like Education, Health care faces its fight. As per the data from the 2016 WHO report, 60% of India’s health workforce caters to the needs of Urban India leaving only 40% for rural India. Among the allopathic doctors of rural India, only 19% were medically qualified (WHO,2016)  <br><br>
                Digitizing rural India will be a gamechanger in terms of widening the horizon of opportunities and spreading awareness. However, the schools that are responsible for the development of a child lack the necessary facility in rural India. Only 56% of schools in rural India have functional electricity and 12% of schools have functional computers. Therefore, the concept of smart villages can take India’s development to a whole new level. We require the villages of India to be the guiding light of the nation, that constantly reminds her of the roots she belongs to and also of sustainable development.   <br><br><i class="fa fa-globe" aria-hidden="true"></i>  @*<a href="www.indianevillage.com" target="_blank">Go to the evillage website</a>

                *@
            </p>

            <p class="text-justify">
                <b>Aim &amp; Objective</b><br>

                A sustainable livelihood with all the facilities of a metro in a village sounds rather utopian. But such ideas can only push our country to become what it carries the potential for. The idea of
                e-village is not just an idea but a dream that can bring about a change in the state of the country and the lives of 66.4% of our population which feels that their true motivations can only be fulfilled outside the borders of their natives where there are more facilities and opportunities for them. The goal is not to urbanise the rural but to make them a part of the global domain with the idea- ‘Stay Local, Think Global.’. <br><br>
                Though the government is bringing out multiple schemes and laws like National Rural Livelihood Mission, Integrated Rural Development Programme and Mahatma Gandhi National Rural Employment Guarantee Act, which are focused on the same goals of alleviating poverty, making the living standards in rural areas better and providing employment to the people residing in such areas, there is a severe need for all-round development. The village should not just change in its infrastructure and the number of opportunities but the people should open up to the global channels of the world so that an integral dialogue between the world and them can be formed. Their priceless knowledge must spread through the digital mediums and the world must give them what it holds in its store and provide them with the knowledge they need to excel.  <br><br>
                Our villages are not the subaltern but the voice of our nation. When this voice is heard, it will bring about a revolutionary change inside the borders itself where the nation will stand as one and every one amongst us will be eligible to stand on any given pedestal and speak because we will have access to all the knowledge and resources we will need. <br><br>

                <b>Our aims and objectives are:  </b><br>
                1. Generating employment and entrepreneurship opportunities in the villages to create an economically stable livelihood where people find work inside the village with good remuneration and also enhance their skill sets in the fields they want to pursue. This will also lead to the advancement of the education system and training which would lead to the development of smart, independent, individuals and give all families a high standard of living. This would also enable reverse migration where people who have migrated can stay close to their families and work and people from other areas of the country and the world which are developed can also migrate to find fresh opportunities. <br>

                2. Our goal is to modernize the village and not to westernize it. Enhancing the available resources in the village for the installation of various energy plants will lead to an eco-friendly and organic lifestyle. <br>

                3. Maintaining the ideals of village life is important. Mahatma Gandhi romanticised them and found it to be more peaceful, simple, free, self-sufficient and truthful. Therefore, we want to extend the opportunities villages provide on their own for lifelong learning and personal growth.  <br>
                4. To increase the happiness index of India, through economical and mental stability as India currently ranks 9th among 28 nations. 5. To promote tourism and travel in the village sites and introducing Indian culture through it. <br><br>
            </p>


        </div>

    </div>


</div>
<br />
<br />