
@{
    ViewBag.Title = "Leadership";
}

<div class="col-md-12" style="margin-top:20px; margin-bottom:20px;border:1px solid gray">
    <p class="text-justify">
        <b>Leadership &amp; Team Members</b><br><br>

        “Mitti Se, Mitti par Aur Phir mitti me”<br>  (Birth, life and death are from, on, into the earth)<br>
        This earth from which we were all born and in which we will all merge when our purpose ends, we believe that we must make our lives worth. By thanking the soil we were born from and from which our livelihood moves forward is integral. We were the tender pieces of clay which were shaped, baked and sold to the world by our natives and villages. These places have given their resources and when they couldn’t, they have allowed us to cross their boundaries and let us out to explore new possibilities.   <br><br>
        Mr Peeyush Pandit works on this ideology by revisiting the dark days of his life, gaining strength from them so that there is only light in cramped corners of those villages and natives. He reminisces his story and expresses the lack of opportunities that made him go through economic and mental voids from time to time until he overcame them. He wishes to change that and give the most to the society from which he hails so that both men and women are empowered individuals who can support their families and there is a stability in the life their families live. In a world, where there is no economic unrest and all facilities are available, all individuals will have the power to create their destinies and this is a huge power and responsibility. This e-village is not just the creator of this power but the curator of responsibility alongside.  <br><br>
        Our team is dedicated to this cause of changing the lives of the underprivileged and giving them a chance to have a voice that is educated and powerful. Freedom for opportunities must be for all and this is the ultimate goal; to free the people from the shackles of unemployment, illiteracy and malnourishment. The team is constantly working to plan and proceed on their own Dandi March where they find resources to reach this ultimate goal.   <br><br>
    </p>
</div>

