
@{
    ViewBag.Title = "Overview";
}

<div class="col-md-12" style="margin-top:20px; margin-bottom:20px; border:1px solid gray">
    <h2 class="text-center"><b>Overview</b></h2>

    <p>
        Empower, practice and evolve. Three steps that we must follow to develop our nation. When we speak about empowerment, we work on strengthening the roots, an approach that addresses the issues at the molecular level. The empowerment of an individual will eventually lead to the empowerment of the nation. This empowerment can be done through education, rapid economic growth and rapid social change. Hence, E-village targets the more susceptible youth for a journey towards empowerment. India is a country that is flooded with youth with over 70% of the society below 40 years. At present, 34% of India’s Gross National Income is contributed by the Indian youth. If this percentage shows a hike, the graph of India’s development would show an inclination. Youth awareness is a key goal as it can cover all topics ranging from crime to sex education and from health to youth rights. The need for empowering youth also originates due to the following reasons:<br><br>

        1. To promote the concept of self-uation and self-exploration so that the youth of India acquire their fullest potential.<br>
        2. To inculcate the spirit of research work <br>
        3. To encourage knowledge, skill and techniques that promote both personal growth and totalitarian growth. <br>
        4. To instil within the nation a sense of unity characterized by vigour, passion and energy. <br><br>

        We associate the tagline “India’s first metro village” with our organization. Providing Platforms to the skilled sector of the society, contributing to viable consumption and production and developing a technology-oriented eco-friendly village are the core ideas of the project. The village would be digitized to the extent that every individual would have easy access to the resources and opportunities present in both the local and the global market. There is also access to 100% free water supply, electricity and education. The village aims at free of cost living. <br><br>
        <b>Vision </b><br>
        "India is not, as people keep calling it, an underdeveloped country, but rather, in the context of its history and cultural heritage, a highly developed one in an advanced state of decay."- Shashi Tharoor
        One should be able to see one’s own country in good light, despite all the situations of plight and distress. Owning up to the weaknesses and reasoning them out rationally, to inturn evolve into something better, accounts for a clear and strong vision. The Indian E-village sees India as a superpower in every sense. For India turning into something so strong, it needs to have its villages intact. The Indian E-Village sees the villages of India as an independent assemblage of people whose living standards have been upgraded and all functioning is done smoothly. It sees the villagers having access to all global opportunities expanding all networking and communication. The concept of a “digitized rural India” aims at introducing the following: <br>
        1. Establishment of Internet cafes across the villages.<br>
        2. E-Governance <br>
        3. Online banking and financial services <br>
        4. Local announcements and communications through the digital platform <br>
        5. Mobile/DTH online recharge <br>
        6. Online shopping  <br>
        7. Geographic Information Systems that guide farmers on productivity and crop yield.  <br>
        8. Services in Education and Healthcare <br><br>
        To achieve our goals, we are open to collaborations with NGOs. We are looking for NGOs that can assist us in the following: <br>

        <b>1. Health programmes for both animals and humans:</b><br> Many areas require the usage of hard work and labour like fixing the housing, pit drainage, propagation of good drinking water, regular health checkup camps and even moral education. For this, there needs to be a collaborative effort for the overall welfare of the village.<br>

        <b>2. Community development programs:</b><br>  The day every Indian realizes that the villages of India are a collective responsibility, we will see major development. There is enough disparity of status and income amongst the villages and the cities, at the end of the day, we all belong to the same country and have to contribute to its growth. We need NGOs that will help us promote community development programs like the adoption of villages, moral and financial support during flood and famine period, training programs (vocational, recreational, awareness and skill enhancement)for the rural youths, housing development projects. The spirit of self- sustainability must be cultivated<br>

        <b>3. Agricultural related programs:</b><br> The opportunities that can be given just in the field of agriculture are in a good number. There are prospective jobs and projects like the distribution of raw materials, programs for the management of cattle and poultry, irrigation related programs etc.  <br>

        <b>4. Trade and industrial promotion:</b><br> The major obstacle that comes in the development of trade and Industry in the villages is the lack of resources. We are, therefore, looking for an NGO has a direct link with the government for the marketing of the goods, the indigenous goods that will promote the village as well.<br>

        <b>5. Human Resource Development programs:</b><br> Essentially, human resource accounts to the manpower or workforce of an organization. With the development of human resources which is the human capital, we will see more productivity in professional work. The personality development programs, skill development programs, educational programs, integrated development projects etc will enable the rural poor to earn bread and butter. <br>

        <b>6. Government support:</b><br> The NGO’s must be strategic with their approach. Most of the NGO’s lag behind when it comes to monetary funds. We need NGOs that collaborate with the government. E-village is an organization that aims at serving, rather than taking complete assistance from the government, we offer everything that is needed to make a change.  <br>



    </p>
    <p></p>
</div>